.container{
		width:100%;
}
.input{
	width:900px;
	height:50px;

	background-color:pink;
	border:1px solid red;
}
.light{
	background-color:pink;
	color:white;
	
}
.dark{
	background-color:#C1EB41;
}

.aaa{
	width:100%;
	height:100px;
	background:black;
}